--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple

torch==2.3.0+cu118
torchaudio==2.3.0+cu118
torchvision==0.18.0+cu118

# other packages
accelerate==0.27.2
numpy==1.26.4
opencv-python==4.11.0.86
pycocotools==2.0.9
transformers==4.37.2
s2wrapper@git+https://github.com/bfshi/scaling_on_scales
# flash-attn for Windows
# https://huggingface.co/lldacing/flash-attention-windows-wheel/resolve/main/flash_attn-2.7.4.post1+cu128torch2.8.0cxx11abiTRUE-cp310-cp310-win_amd64.whl
https://github.com/Dao-AILab/flash-attention/releases/download/v2.5.8/flash_attn-2.5.8+cu122torch2.3cxx11abiFALSE-cp310-cp310-linux_x86_64.whl